<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huigou.webserver.dao.write.WiAccessMapper" >
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wi_access
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huigou.webserver.entity.WiAccess" >
    insert into wi_access (id, parentId, level, 
      name, accessUrl, orderCode, 
      interceptLevel, status, createBy, 
      createTime, updateBy, updateTime
      )
    values (#{id,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{level,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{accessUrl,jdbcType=VARCHAR}, #{orderCode,jdbcType=BIGINT}, 
      #{interceptLevel,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createBy,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huigou.webserver.entity.WiAccess" >
    insert into wi_access
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parentId != null" >
        parentId,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="accessUrl != null" >
        accessUrl,
      </if>
      <if test="orderCode != null" >
        orderCode,
      </if>
      <if test="interceptLevel != null" >
        interceptLevel,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createBy != null" >
        createBy,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateBy != null" >
        updateBy,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="accessUrl != null" >
        #{accessUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=BIGINT},
      </if>
      <if test="interceptLevel != null" >
        #{interceptLevel,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huigou.webserver.entity.WiAccess" >
    update wi_access
    <set >
      <if test="parentId != null" >
        parentId = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="accessUrl != null" >
        accessUrl = #{accessUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null" >
        orderCode = #{orderCode,jdbcType=BIGINT},
      </if>
      <if test="interceptLevel != null" >
        interceptLevel = #{interceptLevel,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        createBy = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        updateBy = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huigou.webserver.entity.WiAccess" >
    update wi_access
    set parentId = #{parentId,jdbcType=BIGINT},
      level = #{level,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      accessUrl = #{accessUrl,jdbcType=VARCHAR},
      orderCode = #{orderCode,jdbcType=BIGINT},
      interceptLevel = #{interceptLevel,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      createBy = #{createBy,jdbcType=BIGINT},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateBy = #{updateBy,jdbcType=BIGINT},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>