<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huigou.webserver.dao.read.WiModelMaterialsMapper" >
  <resultMap id="BaseResultMap" type="com.huigou.webserver.entity.WiModelMaterials" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="modelId" property="modelId" jdbcType="BIGINT" />
    <result column="materials" property="materials" jdbcType="BIGINT" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="modelparm" property="modelparm" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="createBy" property="createBy" jdbcType="BIGINT" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateBy" property="updateBy" jdbcType="BIGINT" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, modelId, materials, count, modelparm, status, createBy, createTime, updateBy, 
    updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from wi_model_materials
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>