<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huigou.webserver.dao.write.WiDisignDetailMapper" >
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wi_disign_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huigou.webserver.entity.WiDisignDetail" >
    insert into wi_disign_detail (id, designId, room, 
      modelId, status, createTime, 
      createBy, updateTime, updateBy
      )
    values (#{id,jdbcType=BIGINT}, #{designId,jdbcType=BIGINT}, #{room,jdbcType=BIGINT}, 
      #{modelId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huigou.webserver.entity.WiDisignDetail" >
    insert into wi_disign_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="designId != null" >
        designId,
      </if>
      <if test="room != null" >
        room,
      </if>
      <if test="modelId != null" >
        modelId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="createBy != null" >
        createBy,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="updateBy != null" >
        updateBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="designId != null" >
        #{designId,jdbcType=BIGINT},
      </if>
      <if test="room != null" >
        #{room,jdbcType=BIGINT},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huigou.webserver.entity.WiDisignDetail" >
    update wi_disign_detail
    <set >
      <if test="designId != null" >
        designId = #{designId,jdbcType=BIGINT},
      </if>
      <if test="room != null" >
        room = #{room,jdbcType=BIGINT},
      </if>
      <if test="modelId != null" >
        modelId = #{modelId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        createBy = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        updateBy = #{updateBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huigou.webserver.entity.WiDisignDetail" >
    update wi_disign_detail
    set designId = #{designId,jdbcType=BIGINT},
      room = #{room,jdbcType=BIGINT},
      modelId = #{modelId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      createBy = #{createBy,jdbcType=BIGINT},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      updateBy = #{updateBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>