<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huigou.webserver.dao.write.WiSupplierPriceMapper" >
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wi_supplier_price
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huigou.webserver.entity.WiSupplierPrice" >
    insert into wi_supplier_price (id, supperlierId, materialsId, 
      mprice, status, createTime, 
      createBy, updateTime, updateBy
      )
    values (#{id,jdbcType=BIGINT}, #{supperlierId,jdbcType=BIGINT}, #{materialsId,jdbcType=BIGINT}, 
      #{mprice,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huigou.webserver.entity.WiSupplierPrice" >
    insert into wi_supplier_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="supperlierId != null" >
        supperlierId,
      </if>
      <if test="materialsId != null" >
        materialsId,
      </if>
      <if test="mprice != null" >
        mprice,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="createBy != null" >
        createBy,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="updateBy != null" >
        updateBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="supperlierId != null" >
        #{supperlierId,jdbcType=BIGINT},
      </if>
      <if test="materialsId != null" >
        #{materialsId,jdbcType=BIGINT},
      </if>
      <if test="mprice != null" >
        #{mprice,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huigou.webserver.entity.WiSupplierPrice" >
    update wi_supplier_price
    <set >
      <if test="supperlierId != null" >
        supperlierId = #{supperlierId,jdbcType=BIGINT},
      </if>
      <if test="materialsId != null" >
        materialsId = #{materialsId,jdbcType=BIGINT},
      </if>
      <if test="mprice != null" >
        mprice = #{mprice,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        createBy = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        updateBy = #{updateBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huigou.webserver.entity.WiSupplierPrice" >
    update wi_supplier_price
    set supperlierId = #{supperlierId,jdbcType=BIGINT},
      materialsId = #{materialsId,jdbcType=BIGINT},
      mprice = #{mprice,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      createBy = #{createBy,jdbcType=BIGINT},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      updateBy = #{updateBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>